@charset "utf-8";

.mixer {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 380px;
    backdrop-filter: blur(25px);
    border-radius: 10px;
    box-shadow: 0 0px 30px 5px black;
}

.mixer span {
    font-size: 20px;
}

.mixer .darkener {
    padding: 5px 10px 10px 10px;
    box-sizing: border-box;
}

.mixer-channel {
    width: 100%;
    height: 50px;
    position: relative;
}

.mixer-channel * {
    display: inline-block;
}

.mixer-channel img {
    height: 100%;
}

.volume-indicator {
    height: 100%;
    width: 50px;
    font-size: 35px;
    float: right;
}

.volume-indicator-inner {
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container {
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
}

.slider-container-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mixer-slider {
    width: 100%;
    margin: 0;
}

.db-container {
    width: 100%;
    height: 15px;
    position: relative;
}

.db-indicator {
    position: absolute;
    width: 100%;
    height: 5px;
}

.db-indicator-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #757575;
    border-radius: 100px;
}

.db-indicator-2 {
    top: 10px;
}

.db-danger {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #FF3300;
}

.bright-db-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #CFCFCF;
    border-radius: 100px;
}

.clipper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: inset(0 35px 0 0);
}

.clipper-2 {
    clip-path: inset(0 20px 0 0);
}