@charset "utf-8";
@import url("colors.css");
@import url("window.css");
@import url("mixer.css");
@import url("taskbar.css");

body {
    background-repeat: no-repeat;
    background-size: 100vw;

    padding: 0;
    margin: 0;

    background-color: black;
    color: #CFCFCF;
    font-size: 12px;
    font-family: Arial;

    overflow: hidden;
}

header {
    width: 100vw;
    height: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 40px;
    backdrop-filter: blur(50px);
}

.darkener {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    border-radius: inherit;
}

.darker {
    opacity: 80%;
}

.centerer {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}