@charset "utf-8";

.app-icon, .group-icon, .app-group {
    float: left;
    background-color: #cfcfcf00;
    transition: .2s;
}

.app-icon, .group-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
}

.app-icon:hover, .group-icon:hover, .app-group:hover {
    background-color: #cfcfcf33;
    border-radius: 10px;
}

.app-icon img {
    height: 100%;
}

.app-group {
    height: 40px;
    display: flex;
}

.group-content, .group-content-clipper {
    transition: .5s ease-in-out;
    height: 100%;
}

.group-content-clipper {
    width: 0;
    overflow: hidden;
}

.group-icon-half {
    width: 100%;
    height: 50%;
    display: block;
}

.group-icon-half img {
    height: 100%;
    max-width: 50%;
    display: inline;
    float: left;
}