@charset "utf-8";

.app-icon, .group-icon, .app-group {
    float: left;
    background-color: #cfcfcf00;
    transition: .2s;
    border-radius: 10px;
}

.app-icon, .group-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
}

/* .app-group {
    border-radius: 10px;
    overflow: hidden;
} */

.app-icon {
    position: relative;
    border-bottom: solid transparent 2px;
}

.app-icon:hover, .group-icon:hover, .app-group:hover {
    background-color: #cfcfcf33;
}

.app-icon img {
    height: 100%;
}

.app-group {
    height: 40px;
    display: flex;
}

.group-icon-dark {
    background-color: #cfcfcf55;
}

.group-content, .group-content-clipper {
    transition: .5s ease-in-out;
    height: 100%;
}

.group-content-clipper {
    width: 0;
    overflow: hidden;
}

.group-icon-half {
    width: 100%;
    height: 50%;
    display: block;
}

.group-icon-half img {
    height: 100%;
    max-width: 50%;
    display: inline;
    float: left;
}

.active-container {
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    height: 3px;
    display: flex;
    justify-content: center;
}

.active-line {
    height: 100%;
    width: 40%;
    background-color: tomato;
    border-radius: 10px 10px 0 0;
    transition: .5s;
}

.active-line-hover {
    width: 60%;
}