@charset "utf-8";

.window {
    position: absolute;
    top: 10vh;
    left: 7vw;
    width: 1280px;
    height: 720px;
    border-radius: 10px;
    box-shadow: 0 0px 30px 5px black;
}

.window-blur {
    position: absolute;
    right: 0;
    left: 230px;
    height: 100%;
    backdrop-filter: blur(25px);
    border-radius: 0 10px 10px 0;
}

.window-nav {
    position: absolute;
    left: 0;
    right: calc(854px - 230px);
    top: 0;
    height: 100%;
}

.window-titlebar {
    width: 100%;
    top: 0;
    height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.window-button {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    display: inline-block;
    margin-right: 7px;
    transition: 0.2s;
}

.window-titlebar span {
    margin-bottom: -3px;
    font-size: 17px;
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.red:hover {
    background-color: var(--light-red);
}

.yellow:hover {
    background-color: var(--light-yellow);
}

.green:hover {
    background-color: var(--light-green);
}